body{
    margin: 0;
    padding: 0;
    background-color: rgb(243, 50, 50) ;
}
header,footer{
    width: 100%;
    background-color: rgb(197, 19, 19);
}
header{
    height: 15vh;
}
footer{
    height: 5vh;
}
.contPrincipal{
    display: grid;
    grid-template-columns:1fr 2fr ;
    gap: 5%;
}
h3{
    font-size: 30px;
    font-family: ;
    color:whitesmoke ;
    text-align:right ;
}